.black {
  color: #0A0A0A !important;
}

.bg-black {
  background-color: #0A0A0A !important;
}

.orange {
  color: #F58446 !important;
}

.bg-orange {
  background-color: #F58446 !important;
}

.white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
}

.gray {
  color: #565656 !important;
}

.bg-gray {
  background-color: #565656 !important;
}

.secondary-black {
  color: #141316 !important;
}

.bg-secondary-black {
  background-color: #141316 !important;
}

.tertiory-black {
  color: #1D1C1F !important;
}

.bg-tertiory-black {
  background-color: #1D1C1F !important;
}

.red {
  color: #F5222D !important;
}

.bg-red {
  background-color: #F5222D !important;
}

.green {
  color: #52C41A !important;
}

.bg-green {
  background-color: #52C41A !important;
}

.secondary-gray {
  color: #AFAFAF !important;
}

.bg-secondary-gray {
  background-color: #AFAFAF !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pb-32 {
  padding-bottom: 32px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

.pl-32 {
  padding-left: 32px !important;
}

.p-16 {
  padding: 16px;
}

.br-5 {
  border-radius: 5px;
}

.w-65 {
  width: 65%;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.f-8 {
  font-size: 8px;
}

.f-12 {
  font-size: 12px;
}

.f-16 {
  font-size: 16px;
}

.f-20 {
  font-size: 20px;
}

.f-24 {
  font-size: 24px;
}

.f-32 {
  font-size: 32px;
}

.f-48 {
  font-size: 48px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #0A0A0A;
}

.r-nav .navbar-nav .nav-link {
  color: #565656;
  padding-left: 18px;
  padding-right: 18px;
}
.r-nav .navbar-nav .nav-link.active, .r-nav .navbar-nav .nav-link:hover {
  color: #F58446;
  border-bottom: 1px solid #F58446;
}

.form-control {
  border: none;
}

input[type=submit] {
  border: none;
}

.gray-border {
  border: 1px solid #565656;
}
.gray-border:hover {
  border: 1px solid #F58446;
}

a {
  text-decoration: none;
}

.secondary-gray:hover {
  color: #AFAFAF;
}

.r-tabs .col {
  cursor: pointer;
}
.r-tabs .col:hover {
  color: #F58446;
}

.filter {
  padding: 4px 8px;
  border-radius: 5px;
  margin: 0 8px 8px 0;
  display: inline-block;
  background-color: #1D1C1F;
  color: #565656;
  cursor: pointer;
}
.filter.selected, .filter:hover {
  background-color: #F58446;
  color: #fff;
}

.question-box {
  border-radius: 5px;
  padding: 12px 24px;
  background-color: #141316;
  margin-bottom: 32px;
}
.question-box .question {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.question-box .status,
.question-box .friends-stats {
  font-size: 12px;
  font-weight: 500;
}
.question-box .status .r-radio-label,
.question-box .friends-stats .r-radio-label {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  margin-right: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.question-box .status .r-radio-label input,
.question-box .friends-stats .r-radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.question-box .status .r-radio-label input:checked ~ .r-radio,
.question-box .friends-stats .r-radio-label input:checked ~ .r-radio {
  background-color: #F58446;
}
.question-box .status .r-radio-label input:checked ~ .r-radio:after,
.question-box .friends-stats .r-radio-label input:checked ~ .r-radio:after {
  display: block;
}
.question-box .status .r-radio-label .r-radio,
.question-box .friends-stats .r-radio-label .r-radio {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 12px;
  width: 12px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #F58446;
}
.question-box .status .r-radio-label:hover input ~ .r-radio,
.question-box .friends-stats .r-radio-label:hover input ~ .r-radio {
  background-color: #F58446;
}
.question-box .footer {
  border-top: 1px solid #565656;
}

.questions-pie {
  border-radius: 50%;
  box-shadow: inset 0 0 7.2px black;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding: 0;
}

.react-calendar {
  max-width: 100%;
  background: transparent;
  line-height: 1.125em;
  color: #565656;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0px;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  border-radius: 5px;
  color: #AFAFAF;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #F58446;
  color: #fff;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000 !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  border: 2px solid #141316 !important;
  border-radius: 5px;
  background: #1D1C1F;
  color: #565656;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #F58446;
  color: #fff;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #F58446;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #F58446;
  color: #fff;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #F58446;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

/*# sourceMappingURL=Main.css.map */
